* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.container {
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: center;
  font-size: 36px;
  font-family: 'Roboto';
  color: black;
  padding: 10px;
}
.paragraph {
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto';
  color: black;
  padding: 10px;
}
